* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* body fond */

body {
    position: relative;
    overflow: hidden; /* Pour éviter les barres de défilement */
   text-align: center;
  
    background: black;
  }
  
  .shooting-star {
    position: absolute;
    width: 2px; /* Largeur de l'étoile filante */
    height: 10px; /* Hauteur de l'étoile filante */
    background: var(--glow-color);
    opacity: 0.8;
    animation: shoot 1.5s linear infinite;
  }
  
  @keyframes shoot {
    0% {
      transform: translateY(-100vh) rotate(45deg); /* Début en haut de l'écran */
      opacity: 1; /* Opacité maximale au début */
    }
    50% {
      opacity: 1; /* Opacité maximale au milieu */
    }
    100% {
      transform: translateY(100vh) translateX(50vw) rotate(45deg); /* Se déplace vers le bas et un peu à droite */
      opacity: 0; /* Disparaît à la fin */
    }
  }
  
  /* Générer des étoiles filantes aléatoires */
  .shooting-star:nth-child(1) {
    left: 0%;
    animation-duration: 2s;
    animation-delay: 0s;
  }
  
  .shooting-star:nth-child(2) {
    left: 20%;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
  }
  
  .shooting-star:nth-child(3) {
    left: 40%;
    animation-duration: 2s;
    animation-delay: 1s;
  }
  
  .shooting-star:nth-child(4) {
    left: 60%;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
  }
  
  .shooting-star:nth-child(5) {
    left: 80%;
    animation-duration: 2s;
    animation-delay: 2s;
  }
/* fin body */
h1 {
    color: var(--glow-color);
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 0px 30px 0px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    background-color: #eff3f9;
    position: relative;
    width: 300px;
    perspective: 1000px;
}
body {
    font-family: Arial, sans-serif;
}



.logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.logo {
    width: 40px; /* Ajustez la taille du logo */
    height: auto;
    cursor: pointer; /* Pour indiquer que le logo est cliquable */
}

.flip-card {
    position: relative;
    width: 100%;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card.rotated .flip-card-inner {
    transform: rotateY(180deg);
}

.legende {
    padding: 20px; /* Ajustez l'espacement selon vos besoins */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

select,
input[type="number"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* btn */
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186, 100%, 69%);
}

#calculate-button {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em; /* Vous pouvez ajuster la taille de police ici */
  font-weight: 900;
  letter-spacing: 0.1em; /* Ajuster l'espacement des lettres selon vos préférences */

  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

#calculate-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

#calculate-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

#calculate-button:hover {
  color: rgba(0, 0, 0, 0.8);
  animation: none;
}

#calculate-button:hover::before {
  filter: blur(1.5em);
  opacity: 1;
}

#calculate-button:hover::after {
  opacity: 1;
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #calculate-button {
    font-size: 1em; /* Ajustez la taille pour les petits écrans */
  }
}

/* fin btn */
.select-wrapper {
    position: relative;
    display: inline-block;
}

.period-display {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

.period-display p {
    margin: 5px 0;
    color: #333;
}

/* Carousel Styles */
.carousel-container {
    display: flex;
    overflow-x: auto; /* Défilement horizontal */
    scroll-behavior: smooth; /* Défilement fluide */
    white-space: nowrap; /* Empêche les éléments de passer à la ligne */
    gap: 10px; /* Ajoute un espace entre les cartes */
    -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur mobile */
    background-color: black;
}



.card {
    background-color: rgb(255, 255, 255);
    width: 240px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 5px; /* Espacement entre les cartes */
    flex-shrink: 0; /* Empêche les cartes de rétrécir */
    min-height: 225px;

}

.card-image-container {
    padding: 10px;
}

.card-image {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.card-title-container {
    padding: 10px;
    word-wrap: break-word; /* Casser le mot s'il dépasse la largeur */
    white-space: normal;   /* Permet au texte de passer à la ligne */
}


.card-title {
    margin: 0;
    padding: 10px;
}

.card-date-container {
    padding: 10px;
}

.card-date {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
    backdrop-filter: blur(15px);
}

.weather-info img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.legende{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.legende img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.p-legend{

}
.card-period {
    background-image: url(./assets/regle.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
    color: white;

}

.card-period::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* This will inherit the background image */
    filter: blur(10px); /* Adjust blur strength */
    z-index: -1; /* Ensure the content is above this */
    background-size: cover;
}

.card-risk {
    background-image: url(./assets/orage.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
    color: white; 
}

.card-risk::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* This will inherit the background image */
    filter: blur(10px); /* Adjust blur strength */
    z-index: -1; /* Ensure the content is above this */
    background-size: cover;
}

.card-moderate-risk{
    background-image: url(./assets/pluie.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
    color: white; 
}

.card-moderate-risk::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* This will inherit the background image */
    filter: blur(10px); /* Adjust blur strength */
    z-index: -1; /* Ensure the content is above this */
    background-size: cover;
}

.card-safe{
    background-image: url(./assets/soleil.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
    color: white; 
}

.card-safe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; /* This will inherit the background image */
    filter: blur(10px); /* Adjust blur strength */
    z-index: -1; /* Ensure the content is above this */
    background-size: cover;
}


/* scrool bar */
/* Style pour la barre de défilement verticale */
::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement verticale */
}

/* Style pour la barre de défilement horizontale */
::-webkit-scrollbar-horizontal {
    height: 10px; /* Hauteur de la barre de défilement horizontale */
}

/* Style de la "thumb" (la partie qui se déplace) */
::-webkit-scrollbar-thumb {
    background-color: var(--glow-color); /* Couleur de la "thumb" */
    border-radius: 10px; /* Bords arrondis */
}

/* Style pour la piste de la barre de défilement */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Couleur de la piste */
    border-radius: 10px; /* Bords arrondis */
}

/* Couleur de la "thumb" au survol */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--glow-color); /* Couleur de la "thumb" au survol */
}
